<div class="navbar">
    <img src="assets\floofhaven-high-resolution-logo-transparent.png" alt="Your Logo" class="logo">
    <div class = "navright">
        <h3 style="color: white; padding-right: 20px;">Hello User!</h3>
        <button class="button-30" role="button" [routerLink]="['/login']">Logout</button>
    </div>
</div>
<h2 style="margin-left:20px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Available for Adoption</h2>
<body>
    <div class="dog-card" *ngFor="let dog of dogs" [routerLink]="['/user/dog/', dog.id]">
        <img src={{dog.image}} alt="Dog photo">
        <div class="dog-details">
            <span>{{dog.name}}</span>
        </div>
    </div>
</body>



  
  


