<body>
    <div class="logo">
        <br><br><br><br><br><br><br><br>
        <img src="assets\floofhaven-high-resolution-logo-transparent.png">
    </div>
    <div class="form">
        <br><br><br><br><br><br><br><br>
        <form id="login">
            <div class="info">
                <h1>Log in</h1>
                <br><br>
                <input id="Username" type="text" placeholder="Username" width="100" required #user><br><br>
                <input id="Password" type="password" placeholder="Password" width="100" required #pass><br><br>
                <button class="button-29" role="button" (click)="login(user.value, pass.value)">Login</button>
            </div>
        </form>
    </div>
</body>
